:root {
  --primary-color: #E3DCD1;
  --secondary-color: #DD2163;
  --primary-heading-color: #480B20;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  height: 100%;
  background: white;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  margin: 0.5rem 0;
  /* padding: 1rem 0; */
  color: #444444;
  line-height: 1.8;
}

img {
  border-radius: 2px;
}

/* Utility */
.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
}

.py-1 { padding: 1rem 0;}
.py-2 { padding: 2rem 0;}
.py-3 { padding: 4rem 0;}

.px-1 { padding: 0 1rem;}
.px-2 { padding: 0 2rem;}
.px-3 { padding: 0 4rem;}

.p-05 {padding: 0.5rem;}
.p-1 { padding: 1rem;}
.p-2 { padding: 2rem;}
.p-3 { padding: 4rem;}

.my-1 { margin: 1rem 0;}
.my-2 { margin: 2rem 0;}
.my-3 { margin: 4rem 0;}

.mx-1 { margin: 0 1rem;}
.mx-2 { margin: 0 2rem;}
.mx-3 { margin: 0 4rem;}

.m-05 {margin: 0.5rem;}
.m-1 { margin: 1rem;}
.m-2 { margin: 2rem;}
.m-3 { margin: 4rem;}

.l-heading {
  font-size: 3.5rem;
  font-weight: 200;
  line-height: 1.5;
}

.m-heading {
  font-family: serif;
  font-size: 2.5rem;
  font-weight: 200;
  line-height: 1.5;
}

.s-heading {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
}

.btn {
  display: inline-block;
  margin: 1rem;
  padding: 0.5rem 2rem;
  color: #333333;
  border: none;
  border-radius: 3px;
  transition: opacity 0.2s ease-in;
}

.btn-primary {
  color: #ffffff;
  background: var(--secondary-color);
}

.btn-secondary {
  padding: 0.5rem;
  border: 0.5px solid #DD2163;
}

.btn-light {
  color: var(--secondary-color);
  background: none;
  border: var(--secondary-color) 1px solid;
  border-radius: 3px;
}

.btn:hover {
  opacity: 0.8;
}

/* Navbar */
#navbar {
  width: 100vw;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  display: flex;
  background: rgba(227, 220, 209, 0.8);
  z-index: 10;
}

#navbar .container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#navbar .logo {
  width: 80px;
}

#navbar ul {
  display: flex;
  align-items: center;
}

#navbar ul li a {
  color: #333333;
  font-size: 1.2rem;
  font-weight: 100;
  transition: opacity 0.3s ease-in;
}

#navbar ul li a:hover,
.active {
  border-bottom: 2px var(--secondary-color) solid;
  opacity: 0.7;
}

/* Go top button */
#scroll-back {
  color: var(--secondary-color);
  font-size: 2rem;
  z-index: 10;
}

#scroll-back a {
  position: -webkit-sticky;
  position: sticky;
  left: 95%;
}

/* Showcase */
#main-header {
  position: relative;
  width: 100vw;
  height: 100vh;
}

#main-header .media-content {
  width: 100%;
  height: 100%;
}

#main-header img {
  width: 100%;
  height: 100%;
  border-radius: 0;
  object-fit: fill;
}

#main-header .text-content {
  position: absolute;
  top: 25%;
  right: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: var(--primary-color);
  text-shadow: #000000 4px 5px 5px;
}

#main-header .text-content .btn {
  text-shadow: none;
}

/* Articles */
#articles {
  width: 100%;
}

#articles .article {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
}


#articles .article:nth-child(even) .photo {
  order: 2;
}

#articles .article:nth-child(even) .text {
  order: 1;
}

#articles .article .photo {
  width: 48%;
}

#articles img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

#articles .article .text {
  align-self: center;
  width: 52%;
  text-align: center;
}


/* Blog Posts */
.blog-wrapper {
  width: 100vw;
  text-align: center;
}

.blog-wrapper .row {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.blog-wrapper .first img{
  height: 250px;
}

.blog-wrapper .second img{
  height: 350px;
}

.blog-wrapper .row .card:nth-child(2) {
  align-self: center;
}

.blog-wrapper .first .card:nth-child(2) img {
  height: 350px;
}

.blog-wrapper .second .card:nth-child(2) img {
  height: 250px;
}

.blog-wrapper .card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.blog-wrapper .card img {
  width: 100%;
}

.blog-wrapper .card .date {
  font-size: 0.8rem;
  font-style: italic;
}

/* Footer */
#main-footer {
  height: 100%;
  background: var(--primary-color);
  text-align: center;
}

/* About */
/* Details-Working Hours */
.details .row {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100vh;
}

.details .media {
  position: relative;
  width: 45%;
  height: 100%;
}

.details .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 50%;
  text-align: center;
}

.details .text p {
  text-align: left;
  line-height: 1.5;
}

.details .row:last-child .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 500px;
  border: var(--secondary-color) 5px solid;
  border-radius: 50%;
  text-align: left;
  line-height: 2;
}

.details .row:last-child .text h2{
  border-bottom: #333333 solid 1px;
  font-weight: 600;
}

.details .row:last-child ul {
  list-style: circle;
}

.details img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.details .media .pink-box {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 100%;
  height: 100%;
  background: var(--secondary-color);
  border-radius: 20%;
  z-index: -1;
}

.details .media .img-border {
  position: absolute;
  bottom: 25px;
  left: 80px;
  width: 90%;
  height: 100%;
  border: 5px solid #111;
  z-index: -2;
}

/* Useful info section */
.useful-info {
  width: 100%;
  text-align: center;
}

.info-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  /* padding: 1.5rem 0; */
  color: #333;
}

.info-content .col {
  width: 32%;
}

.info-content .col i {
  /* margin-bottom: 1rem; */
  color: var(--secondary-color);
}

/* Meet team section */
.team {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  text-align: center;
}

.team .row {
  display: flex;
}

.team .col {
  width: 25%;
  height: 100%;
}

.team .col img {
  width: 100%;
  height: 260px;
  object-fit: cover;
}

.team .name {
  font-weight: 600;
}

.team .position {
  color: #E3DCD1;
  font-size: 0.8rem;
  font-weight: 200;
  text-decoration: underline;
}

/* Services & Offers */
#services .row {
  display: flex;
  height: 50vh;
}

#services .media {
  position: relative;
  width: 48%;
}

#services .media img{
  width: 100%;
  height: 100%;
  z-index: 1;
}

#services .media .pink-circle {
  position: absolute;
  top: 285px;
  left: 0px;
  width: 200px;
  height: 200px;
  background: var(--secondary-color);
  border-radius: 100%;
  z-index: 2;
}


#services .text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 52%;
  height: 50%;
  z-index: 3;
}

#services .text a {
  align-self: center;
}

/* -------- PRICING ------- */
.pricing {
  width: 100%;
  text-align: center;
}
.pricing .row {
  display: flex;
  justify-content: space-between;
  height: 400px;
}

.pricing .col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 30%;
  height: 100%;
  background: var(--primary-color);
}
